# Server Port
PORT=5000

# MongoDB Atlas Connection String
# Replace <username>, <password>, and <cluster-url> with your MongoDB Atlas details:
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/codeck?retryWrites=true&w=majority

# JWT Secret for authentication tokens
JWT_SECRET=90f6e730b9a35a7bab157b1b670f128d95c93825bc7e201326e36d608b1213b3
